@{
    Layout = "_DashboardLayout";
}


<div class="box-content">
    <div class="box-heading">
        <div class="box-title">
            <h3 class="mb-35">Dashboard</h3>
        </div>
        <div class="box-breadcrumb">
            <div class="breadcrumbs">
                <ul>
                    <li> <a class="icon-home" href="index.html">Admin</a></li>
                    <li><span>Dashboard</span></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xxl-8 col-xl-7 col-lg-7">
            <div class="section-box">
                <div class="row">
                    <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-4 col-sm-6">
                        <div class="card-style-1 hover-up">
                            <div class="card-image"> <img src="~/dashBoard/assets/imgs/page/dashboard/computer.svg" alt="jobBox"></div>
                            <div class="card-info">
                                <div class="card-title">
                                    <h3>
                                        1568<span class="font-sm status up">25<span>%</span></span>
                                    </h3>
                                </div>
                                <p class="color-text-paragraph-2">Interview Schedules</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-4 col-sm-6">
                        <div class="card-style-1 hover-up">
                            <div class="card-image"> <img src="~/dashBoard/assets/imgs/page/dashboard/bank.svg" alt="jobBox"></div>
                            <div class="card-info">
                                <div class="card-title">
                                    <h3>
                                        284<span class="font-sm status up">5<span>%</span></span>
                                    </h3>
                                </div>
                                <p class="color-text-paragraph-2">Applied Jobs</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-4 col-sm-6">
                        <div class="card-style-1 hover-up">
                            <div class="card-image"> <img src="~/dashBoard/assets/imgs/page/dashboard/lamp.svg" alt="jobBox"></div>
                            <div class="card-info">
                                <div class="card-title">
                                    <h3>
                                        136<span class="font-sm status up">12<span>%</span></span>
                                    </h3>
                                </div>
                                <p class="color-text-paragraph-2">Task Bids Won</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-4 col-sm-6">
                        <div class="card-style-1 hover-up">
                            <div class="card-image"> <img src="~/dashBoard/assets/imgs/page/dashboard/headphone.svg" alt="jobBox"></div>
                            <div class="card-info">
                                <div class="card-title">
                                    <h3>
                                        985<span class="font-sm status up">5<span>%</span></span>
                                    </h3>
                                </div>
                                <p class="color-text-paragraph-2">Application Sent</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-4 col-sm-6">
                        <div class="card-style-1 hover-up">
                            <div class="card-image"> <img src="~/dashBoard/assets/imgs/page/dashboard/look.svg" alt="jobBox"></div>
                            <div class="card-info">
                                <div class="card-title">
                                    <h3>
                                        165<span class="font-sm status up">15<span>%</span></span>
                                    </h3>
                                </div>
                                <p class="color-text-paragraph-2">Profile Viewed</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-4 col-sm-6">
                        <div class="card-style-1 hover-up">
                            <div class="card-image"> <img src="~/dashBoard/assets/imgs/page/dashboard/open-file.svg" alt="jobBox"></div>
                            <div class="card-info">
                                <div class="card-title">
                                    <h3>
                                        2356<span class="font-sm status down">- 2%</span>
                                    </h3>
                                </div>
                                <p class="color-text-paragraph-2">New Messages</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-4 col-sm-6">
                        <div class="card-style-1 hover-up">
                            <div class="card-image"> <img src="~/dashBoard/assets/imgs/page/dashboard/doc.svg" alt="jobBox"></div>
                            <div class="card-info">
                                <div class="card-title">
                                    <h3>
                                        254<span class="font-sm status up">2<span>%</span></span>
                                    </h3>
                                </div>
                                <p class="color-text-paragraph-2">Articles Added</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-4 col-sm-6">
                        <div class="card-style-1 hover-up">
                            <div class="card-image"> <img src="~/dashBoard/assets/imgs/page/dashboard/man.svg" alt="jobBox"></div>
                            <div class="card-info">
                                <div class="card-title">
                                    <h3>
                                        548<span class="font-sm status up">48<span>%</span></span>
                                    </h3>
                                </div>
                                <p class="color-text-paragraph-2">CV Added</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-box">
                <div class="container">
                    <div class="panel-white">
                        <div class="panel-head">
                            <h5>Vacancy Stats</h5><a class="menudrop" id="dropdownMenu2" type="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-display="static"></a>
                            <ul class="dropdown-menu dropdown-menu-light dropdown-menu-end" aria-labelledby="dropdownMenu2">
                                <li><a class="dropdown-item active" href="#">Add new</a></li>
                                <li><a class="dropdown-item" href="#">Settings</a></li>
                                <li><a class="dropdown-item" href="#">Actions</a></li>
                            </ul>
                        </div>
                        <div class="panel-body">
                            <div id="chartdiv"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-box">
                <div class="container">
                    <div class="panel-white">
                        <div class="panel-head">
                            <h5>Latest Jobs</h5><a class="menudrop" id="dropdownMenu3" type="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-display="static"></a>
                            <ul class="dropdown-menu dropdown-menu-light dropdown-menu-end" aria-labelledby="dropdownMenu3">
                                <li><a class="dropdown-item active" href="#">Add new</a></li>
                                <li><a class="dropdown-item" href="#">Settings</a></li>
                                <li><a class="dropdown-item" href="#">Actions</a></li>
                            </ul>
                        </div>
                        <div class="panel-body">
                            <div class="card-style-2 hover-up">
                                <div class="card-head">
                                    <div class="card-image"> <img src="~/dashBoard/assets/imgs/page/dashboard/img1.png" alt="jobBox"></div>
                                    <div class="card-title">
                                        <h6>Senior Full Stack Engineer, Creator Success</h6><span class="job-type">Full time</span><span class="time-post">3mins ago</span><span class="location">New York, US</span>
                                    </div>
                                </div>
                                <div class="card-tags">
                                    <a class="btn btn-tag">Figma</a><a class="btn btn-tag">Adobe XD</a>
                                </div>
                                <div class="card-price"><strong>$300</strong><span class="hour">/Hour</span></div>
                            </div>
                            <div class="card-style-2 hover-up">
                                <div class="card-head">
                                    <div class="card-image"> <img src="~/dashBoard/assets/imgs/page/dashboard/img2.png" alt="jobBox"></div>
                                    <div class="card-title">
                                        <h6>Senior Full Stack Engineer, Creator Success</h6><span class="job-type">Full time</span><span class="time-post">3mins ago</span><span class="location">Chicago, US</span>
                                    </div>
                                </div>
                                <div class="card-tags">
                                    <a class="btn btn-tag">Figma</a><a class="btn btn-tag">Adobe XD</a><a class="btn btn-tag">PSD</a>
                                </div>
                                <div class="card-price"><strong>$650</strong><span class="hour">/Hour</span></div>
                            </div>
                            <div class="card-style-2 hover-up">
                                <div class="card-head">
                                    <div class="card-image"> <img src="~/dashBoard/assets/imgs/page/dashboard/img3.png" alt="jobBox"></div>
                                    <div class="card-title">
                                        <h6>Lead Product/UX/UI Designer Role</h6><span class="job-type">Full time</span><span class="time-post">3mins ago</span><span class="location">Paris, France</span>
                                    </div>
                                </div>
                                <div class="card-tags">
                                    <a class="btn btn-tag">Figma</a><a class="btn btn-tag">Adobe XD</a><a class="btn btn-tag">PSD</a>
                                </div>
                                <div class="card-price"><strong>$1200</strong><span class="hour">/Hour</span></div>
                            </div>
                            <div class="card-style-2 hover-up">
                                <div class="card-head">
                                    <div class="card-image"> <img src="~/dashBoard/assets/imgs/page/dashboard/img4.png" alt="jobBox"></div>
                                    <div class="card-title">
                                        <h6>Marketing Graphic Designer</h6><span class="job-type">Full time</span><span class="time-post">3mins ago</span><span class="location">Tokyto, Japan</span>
                                    </div>
                                </div>
                                <div class="card-tags">
                                    <a class="btn btn-tag">Figma</a><a class="btn btn-tag">Adobe XD</a><a class="btn btn-tag">PSD</a>
                                </div>
                                <div class="card-price"><strong>$580</strong><span class="hour">/Hour</span></div>
                            </div>
                            <div class="card-style-2 hover-up">
                                <div class="card-head">
                                    <div class="card-image"> <img src="~/dashBoard/assets/imgs/page/dashboard/img5.png" alt="jobBox"></div>
                                    <div class="card-title">
                                        <h6>Director, Product Design - Creator</h6><span class="job-type">Full time</span><span class="time-post">3mins ago</span><span class="location">Ha Noi, Vietnam</span>
                                    </div>
                                </div>
                                <div class="card-tags">
                                    <a class="btn btn-tag">Figma</a><a class="btn btn-tag">Adobe XD</a><a class="btn btn-tag">PSD</a>
                                </div>
                                <div class="card-price"><strong>$1500</strong><span class="hour">/Hour</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xxl-4 col-xl-5 col-lg-5">
            <div class="section-box">
                <div class="container">
                    <div class="panel-white">
                        <div class="panel-head">
                            <h5>Top Candidates</h5><a class="menudrop" id="dropdownMenu4" type="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-display="static"></a>
                            <ul class="dropdown-menu dropdown-menu-light dropdown-menu-end" aria-labelledby="dropdownMenu4">
                                <li><a class="dropdown-item active" href="#">Add new</a></li>
                                <li><a class="dropdown-item" href="#">Settings</a></li>
                                <li><a class="dropdown-item" href="#">Actions</a></li>
                            </ul>
                        </div>
                        <div class="panel-body">
                            <div class="card-style-3 hover-up">
                                <div class="card-image online"><img src="~/dashBoard/assets/imgs/page/dashboard/avata1.png" alt="jobBox"></div>
                                <div class="card-title">
                                    <h6>Robert Fox</h6><span class="job-position">UI/UX Designer</span>
                                </div>
                                <div class="card-location"> <span class="location">Chicago, US</span></div>
                                <div class="card-rating">
                                    <img src="~/dashBoard/assets/imgs/page/dashboard/star.svg" alt="jobBox"> <img src="~/dashBoard/assets/imgs/page/dashboard/star.svg" alt="jobBox"> <img src="~/dashBoard/assets/imgs/page/dashboard/star.svg" alt="jobBox"> <img src="~/dashBoard/assets/imgs/page/dashboard/star.svg" alt="jobBox"> <img src="~/dashBoard/assets/imgs/page/dashboard/star.svg" alt="jobBox"> <span class="font-xs color-text-mutted">
                                        (65)
                                    </span>
                                </div>
                            </div>
                            <div class="card-style-3 hover-up">
                                <div class="card-image online"><img src="~/dashBoard/assets/imgs/page/dashboard/avata2.png" alt="jobBox"></div>
                                <div class="card-title">
                                    <h6>Cody Fisher</h6><span class="job-position">Network Engineer</span>
                                </div>
                                <div class="card-location"> <span class="location">New York, US</span></div>
                                <div class="card-rating">
                                    <img src="~/dashBoard/assets/imgs/page/dashboard/star.svg" alt="jobBox"> <img src="~/dashBoard/assets/imgs/page/dashboard/star.svg" alt="jobBox"> <img src="~/dashBoard/assets/imgs/page/dashboard/star.svg" alt="jobBox"> <img src="~/dashBoard/assets/imgs/page/dashboard/star.svg" alt="jobBox"> <img src="~/dashBoard/assets/imgs/page/dashboard/star.svg" alt="jobBox"> <span class="font-xs color-text-mutted">
                                        (65)
                                    </span>
                                </div>
                            </div>
                            <div class="card-style-3 hover-up">
                                <div class="card-image online"><img src="~/dashBoard/assets/imgs/page/dashboard/avata3.png" alt="jobBox"></div>
                                <div class="card-title">
                                    <h6>Jane Cooper</h6><span class="job-position">Content Manager</span>
                                </div>
                                <div class="card-location"> <span class="location">Chicago, US</span></div>
                                <div class="card-rating">
                                    <img src="~/dashBoard/assets/imgs/page/dashboard/star.svg" alt="jobBox"> <img src="~/dashBoard/assets/imgs/page/dashboard/star.svg" alt="jobBox"> <img src="~/dashBoard/assets/imgs/page/dashboard/star.svg" alt="jobBox"> <img src="~/dashBoard/assets/imgs/page/dashboard/star.svg" alt="jobBox"> <img src="~/dashBoard/assets/imgs/page/dashboard/star.svg" alt="jobBox"> <span class="font-xs color-text-mutted">
                                        (65)
                                    </span>
                                </div>
                            </div>
                            <div class="card-style-3 hover-up">
                                <div class="card-image online"><img src="~/dashBoard/assets/imgs/page/dashboard/avata4.png" alt="jobBox"></div>
                                <div class="card-title">
                                    <h6>Jerome Bell</h6><span class="job-position">Frontend Developer</span>
                                </div>
                                <div class="card-location"> <span class="location">Chicago, US</span></div>
                                <div class="card-rating">
                                    <img src="~/dashBoard/assets/imgs/page/dashboard/star.svg" alt="jobBox"> <img src="~/dashBoard/assets/imgs/page/dashboard/star.svg" alt="jobBox"> <img src="~/dashBoard/assets/imgs/page/dashboard/star.svg" alt="jobBox"> <img src="~/dashBoard/assets/imgs/page/dashboard/star.svg" alt="jobBox"> <img src="~/dashBoard/assets/imgs/page/dashboard/star.svg" alt="jobBox"> <span class="font-xs color-text-mutted">
                                        (65)
                                    </span>
                                </div>
                            </div>
                            <div class="card-style-3 hover-up">
                                <div class="card-image online"><img src="~/dashBoard/assets/imgs/page/dashboard/avata5.png" alt="jobBox"></div>
                                <div class="card-title">
                                    <h6>Floyd Miles</h6><span class="job-position">NodeJS Dev</span>
                                </div>
                                <div class="card-location"> <span class="location">Chicago, US</span></div>
                                <div class="card-rating">
                                    <img src="~/dashBoard/assets/imgs/page/dashboard/star.svg" alt="jobBox"> <img src="~/dashBoard/assets/imgs/page/dashboard/star.svg" alt="jobBox"> <img src="~/dashBoard/assets/imgs/page/dashboard/star.svg" alt="jobBox"> <img src="~/dashBoard/assets/imgs/page/dashboard/star.svg" alt="jobBox"> <img src="~/dashBoard/assets/imgs/page/dashboard/star.svg" alt="jobBox"> <span class="font-xs color-text-mutted">
                                        (65)
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-box">
                <div class="container">
                    <div class="panel-white">
                        <div class="panel-head">
                            <h5>Top Recruiters</h5><a class="menudrop" id="dropdownMenu5" type="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-display="static"></a>
                            <ul class="dropdown-menu dropdown-menu-light dropdown-menu-end" aria-labelledby="dropdownMenu5">
                                <li><a class="dropdown-item active" href="#">Add new</a></li>
                                <li><a class="dropdown-item" href="#">Settings</a></li>
                                <li><a class="dropdown-item" href="#">Actions</a></li>
                            </ul>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 pr-5 pl-5">
                                    <div class="card-style-4 hover-up">
                                        <div class="d-flex">
                                            <div class="card-image"><img src="~/dashBoard/assets/imgs/page/dashboard/avata1.png" alt="jobBox"></div>
                                            <div class="card-title">
                                                <h6>Robert Fox</h6><img src="~/dashBoard/assets/imgs/page/dashboard/star.svg" alt="jobBox"> <img src="~/dashBoard/assets/imgs/page/dashboard/star.svg" alt="jobBox"> <img src="~/dashBoard/assets/imgs/page/dashboard/star.svg" alt="jobBox"> <img src="~/dashBoard/assets/imgs/page/dashboard/star-none.svg" alt="jobBox"> <img src="~/dashBoard/assets/imgs/page/dashboard/star-none.svg" alt="jobBox"> <span class="font-xs color-text-mutted">
                                                    (65)
                                                </span>
                                            </div>
                                        </div>
                                        <div class="card-location d-flex"><span class="location">Red, CA</span><span class="jobs-number">25 Open Jobs</span></div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 pr-5 pl-5">
                                    <div class="card-style-4 hover-up">
                                        <div class="d-flex">
                                            <div class="card-image"><img src="~/dashBoard/assets/imgs/page/dashboard/avata2.png" alt="jobBox"></div>
                                            <div class="card-title">
                                                <h6>Cody Fisher</h6><img src="~/dashBoard/assets/imgs/page/dashboard/star.svg" alt="jobBox"> <img src="~/dashBoard/assets/imgs/page/dashboard/star.svg" alt="jobBox"> <img src="~/dashBoard/assets/imgs/page/dashboard/star.svg" alt="jobBox"> <img src="~/dashBoard/assets/imgs/page/dashboard/star-none.svg" alt="jobBox"> <img src="~/dashBoard/assets/imgs/page/dashboard/star-none.svg" alt="jobBox"> <span class="font-xs color-text-mutted">
                                                    (65)
                                                </span>
                                            </div>
                                        </div>
                                        <div class="card-location d-flex"><span class="location">Chicago, US</span><span class="jobs-number">25 Open Jobs</span></div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 pr-5 pl-5">
                                    <div class="card-style-4 hover-up">
                                        <div class="d-flex">
                                            <div class="card-image"><img src="~/dashBoard/assets/imgs/page/dashboard/avata3.png" alt="jobBox"></div>
                                            <div class="card-title">
                                                <h6>Jane Cooper</h6><img src="~/dashBoard/assets/imgs/page/dashboard/star.svg" alt="jobBox"> <img src="~/dashBoard/assets/imgs/page/dashboard/star.svg" alt="jobBox"> <img src="~/dashBoard/assets/imgs/page/dashboard/star.svg" alt="jobBox"> <img src="~/dashBoard/assets/imgs/page/dashboard/star-none.svg" alt="jobBox"> <img src="~/dashBoard/assets/imgs/page/dashboard/star-none.svg" alt="jobBox"> <span class="font-xs color-text-mutted">
                                                    (65)
                                                </span>
                                            </div>
                                        </div>
                                        <div class="card-location d-flex"><span class="location">Austin, TX</span><span class="jobs-number">25 Open Jobs</span></div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 pr-5 pl-5">
                                    <div class="card-style-4 hover-up">
                                        <div class="d-flex">
                                            <div class="card-image"><img src="~/dashBoard/assets/imgs/page/dashboard/avata4.png" alt="jobBox"></div>
                                            <div class="card-title">
                                                <h6>Jerome Bell</h6><img src="~/dashBoard/assets/imgs/page/dashboard/star.svg" alt="jobBox"> <img src="~/dashBoard/assets/imgs/page/dashboard/star.svg" alt="jobBox"> <img src="~/dashBoard/assets/imgs/page/dashboard/star.svg" alt="jobBox"> <img src="~/dashBoard/assets/imgs/page/dashboard/star-none.svg" alt="jobBox"> <img src="~/dashBoard/assets/imgs/page/dashboard/star-none.svg" alt="jobBox"> <span class="font-xs color-text-mutted">
                                                    (65)
                                                </span>
                                            </div>
                                        </div>
                                        <div class="card-location d-flex"><span class="location">Remote</span><span class="jobs-number">25 Open Jobs</span></div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 pr-5 pl-5">
                                    <div class="card-style-4 hover-up">
                                        <div class="d-flex">
                                            <div class="card-image"><img src="~/dashBoard/assets/imgs/page/dashboard/avata5.png" alt="jobBox"></div>
                                            <div class="card-title">
                                                <h6>Floyd Miles</h6><img src="~/dashBoard/assets/imgs/page/dashboard/star.svg" alt="jobBox"> <img src="~/dashBoard/assets/imgs/page/dashboard/star.svg" alt="jobBox"> <img src="~/dashBoard/assets/imgs/page/dashboard/star.svg" alt="jobBox"> <img src="~/dashBoard/assets/imgs/page/dashboard/star-none.svg" alt="jobBox"> <img src="~/dashBoard/assets/imgs/page/dashboard/star-none.svg" alt="jobBox"> <span class="font-xs color-text-mutted">
                                                    (65)
                                                </span>
                                            </div>
                                        </div>
                                        <div class="card-location d-flex"><span class="location">Boston, US</span><span class="jobs-number">25 Open Jobs</span></div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 pr-5 pl-5">
                                    <div class="card-style-4 hover-up">
                                        <div class="d-flex">
                                            <div class="card-image"><img src="~/dashBoard/assets/imgs/page/dashboard/avata1.png" alt="jobBox"></div>
                                            <div class="card-title">
                                                <h6>Devon Lane</h6><img src="~/dashBoard/assets/imgs/page/dashboard/star.svg" alt="jobBox"> <img src="~/dashBoard/assets/imgs/page/dashboard/star.svg" alt="jobBox"> <img src="~/dashBoard/assets/imgs/page/dashboard/star.svg" alt="jobBox"> <img src="~/dashBoard/assets/imgs/page/dashboard/star-none.svg" alt="jobBox"> <img src="~/dashBoard/assets/imgs/page/dashboard/star-none.svg" alt="jobBox"> <span class="font-xs color-text-mutted">
                                                    (65)
                                                </span>
                                            </div>
                                        </div>
                                        <div class="card-location d-flex"><span class="location">Chicago, US</span><span class="jobs-number">25 Open Jobs</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-box">
                <div class="container">
                    <div class="panel-white">
                        <div class="panel-head">
                            <h5>Queries by search</h5><a class="menudrop" id="dropdownMenu6" type="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-display="static"></a>
                            <ul class="dropdown-menu dropdown-menu-light dropdown-menu-end" aria-labelledby="dropdownMenu6">
                                <li><a class="dropdown-item active" href="#">Add new</a></li>
                                <li><a class="dropdown-item" href="#">Settings</a></li>
                                <li><a class="dropdown-item" href="#">Actions</a></li>
                            </ul>
                        </div>
                        <div class="panel-body">
                            <div class="card-style-5 hover-up">
                                <div class="card-title">
                                    <h6 class="font-sm">Developer</h6>
                                </div>
                                <div class="card-progress">
                                    <div class="number font-sm">2635</div>
                                    <div class="progress">
                                        <div class="progress-bar" style="width: 100%"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-style-5 hover-up">
                                <div class="card-title">
                                    <h6 class="font-sm">UI/Ux Designer</h6>
                                </div>
                                <div class="card-progress">
                                    <div class="number font-sm">1658</div>
                                    <div class="progress">
                                        <div class="progress-bar" style="width: 90%"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-style-5 hover-up">
                                <div class="card-title">
                                    <h6 class="font-sm">Marketing</h6>
                                </div>
                                <div class="card-progress">
                                    <div class="number font-sm">1452</div>
                                    <div class="progress">
                                        <div class="progress-bar" style="width: 80%"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-style-5 hover-up">
                                <div class="card-title">
                                    <h6 class="font-sm">Content manager</h6>
                                </div>
                                <div class="card-progress">
                                    <div class="number font-sm">1325</div>
                                    <div class="progress">
                                        <div class="progress-bar" style="width: 70%"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-style-5 hover-up">
                                <div class="card-title">
                                    <h6 class="font-sm">Ruby on rain</h6>
                                </div>
                                <div class="card-progress">
                                    <div class="number font-sm">985</div>
                                    <div class="progress">
                                        <div class="progress-bar" style="width: 60%"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-style-5 hover-up">
                                <div class="card-title">
                                    <h6 class="font-sm">Human hunter</h6>
                                </div>
                                <div class="card-progress">
                                    <div class="number font-sm">920</div>
                                    <div class="progress">
                                        <div class="progress-bar" style="width: 50%"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-style-5 hover-up">
                                <div class="card-title">
                                    <h6 class="font-sm">Finance</h6>
                                </div>
                                <div class="card-progress">
                                    <div class="number font-sm">853</div>
                                    <div class="progress">
                                        <div class="progress-bar" style="width: 40%"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-10">
        <div class="section-box">
            <div class="container">
                <div class="panel-white pt-30 pb-30 pl-15 pr-15">
                    <div class="box-swiper">
                        <div class="swiper-container swiper-group-10">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide"> <img src="~/dashBoard/assets/imgs/page/dashboard/microsoft.svg" alt="jobBox"></div>
                                <div class="swiper-slide"> <img src="~/dashBoard/assets/imgs/page/dashboard/sony.svg" alt="jobBox"></div>
                                <div class="swiper-slide"> <img src="~/dashBoard/assets/imgs/page/dashboard/acer.svg" alt="jobBox"></div>
                                <div class="swiper-slide"> <img src="~/dashBoard/assets/imgs/page/dashboard/nokia.svg" alt="jobBox"></div>
                                <div class="swiper-slide"> <img src="~/dashBoard/assets/imgs/page/dashboard/asus.svg" alt="jobBox"></div>
                                <div class="swiper-slide"> <img src="~/dashBoard/assets/imgs/page/dashboard/casio.svg" alt="jobBox"></div>
                                <div class="swiper-slide"> <img src="~/dashBoard/assets/imgs/page/dashboard/dell.svg" alt="jobBox"></div>
                                <div class="swiper-slide"> <img src="~/dashBoard/assets/imgs/page/dashboard/panasonic.svg" alt="jobBox"></div>
                                <div class="swiper-slide"> <img src="~/dashBoard/assets/imgs/page/dashboard/vaio.svg" alt="jobBox"></div>
                                <div class="swiper-slide"> <img src="~/dashBoard/assets/imgs/page/dashboard/sony.svg" alt="jobBox"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
</div>