<main class="main">
      <section class="section-box">
        <div class="breacrumb-cover bg-img-about">
          <div class="container">
            <div class="row">
              <div class="col-lg-6">
                <h2 class="mb-10">About Us</h2>
                <p class="font-lg color-text-paragraph-2">Get the latest news, updates and tips</p>
              </div>
              <div class="col-lg-6 text-lg-end">
                <ul class="breadcrumbs mt-40">
                  <li><a class="home-icon" href="#">Home</a></li>
                  <li>About Us</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section-box mt-50">
        <div class="post-loop-grid">
          <div class="container">
            <div class="text-center">
              <h6 class="f-18 color-text-mutted text-uppercase">Our company</h6>
              <h2 class="section-title mb-10 wow animate__animated animate__fadeInUp">About Our Company</h2>
              <p class="font-sm color-text-paragraph wow animate__animated animate__fadeInUp w-lg-50 mx-auto">
                        Marine Hive Ltd is a seafarere's recruitment company that offers a comprehensive range 
                        of high quality marine services.It applies maritime expertise to ensure a safe and efficient
                        operation for the shipping sector and steps ahead in providing energy to the shipping world.
              </p>
            </div>
            <div class="row mt-70">
              <div class="col-lg-6 col-md-12 col-sm-12"><img src="~/frontEnd/assets/imgs/page/about/img-about2.png" alt="joxBox"></div>
              <div class="col-lg-6 col-md-12 col-sm-12">
                <h3 class="mt-15">What we can do?</h3>
                <div class="mt-20">
                            <p class="font-md color-text-paragraph mt-20">Our exceptional management and Quality system has 
                                been designed to fulfill all of the requirements of the major companies and national and 
                                international bodies and is custom tailored to cover all crew management and shipping related 
                                functions with a goal to achieve: 
                            
                            
                            
                            </p>
                 </div>
                @*<div class="mt-30"><a class="btn btn-brand-1" href="#">Read More</a></div>*@
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section-box mt-80">
        <div class="post-loop-grid">
          <div class="container">
            <div class="text-center">
              <h6 class="f-18 color-text-mutted text-uppercase">Our company</h6>
              <h2 class="section-title mb-10 wow animate__animated animate__fadeInUp">Meet Our Team</h2>
              <p class="font-sm color-text-paragraph w-lg-50 mx-auto wow animate__animated animate__fadeInUp">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ligula ante, dictum non aliquet eu, dapibus ac quam. Morbi vel ante viverra orci tincidunt tempor eu id ipsum. Sed consectetur, risus a blandit tempor, velit magna pellentesque risus, at congue tellus dui quis nisl.</p>
            </div>
            <div class="row mt-70">
              <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-md-30">
                <div class="card-grid-4 text-center hover-up">
                  <div class="image-top-feature">
                    <figure><img alt="jobBox" src="~/frontEnd/assets/imgs/page/about/team1.png"></figure>
                  </div>
                  <div class="card-grid-4-info">
                    <h5 class="mt-10">Arlene McCoy</h5>
                    <p class="font-xs color-text-paragraph-2 mt-5 mb-5">Frontend Developer</p>
                    <div class="rate-reviews-small pt-5"><span><img src="~/frontEnd/assets/imgs/template/icons/star.svg" alt="jobBox"></span><span><img src="~/frontEnd/assets/imgs/template/icons/star.svg" alt="jobBox"></span><span><img src="~/frontEnd/assets/imgs/template/icons/star.svg" alt="jobBox"></span><span><img src="~/frontEnd/assets/imgs/template/icons/star.svg" alt="jobBox"></span><span><img src="~/frontEnd/assets/imgs/template/icons/star.svg" alt="jobBox"></span><span class="ml-10 color-text-mutted font-xs"><span>(</span><span>65</span><span>)</span></span></div><span class="card-location">New York, US</span>
                    <div class="text-center mt-30"><a class="share-facebook social-share-link" href="#"></a><a class="share-twitter social-share-link" href="#"></a><a class="share-instagram social-share-link" href="#"></a><a class="share-linkedin social-share-link" href="#"></a></div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-md-30">
                <div class="card-grid-4 text-center hover-up">
                  <div class="image-top-feature">
                    <figure><img alt="jobBox" src="~/frontEnd/assets/imgs/page/about/team2.png"></figure>
                  </div>
                  <div class="card-grid-4-info">
                    <h5 class="mt-10">Floyd Miles</h5>
                    <p class="font-xs color-text-paragraph-2 mt-5 mb-5">UI/UX Designer</p>
                    <div class="rate-reviews-small pt-5"><span><img src="~/frontEnd/assets/imgs/template/icons/star.svg" alt="jobBox"></span><span><img src="~/frontEnd/assets/imgs/template/icons/star.svg" alt="jobBox"></span><span><img src="~/frontEnd/assets/imgs/template/icons/star.svg" alt="jobBox"></span><span><img src="~/frontEnd/assets/imgs/template/icons/star.svg" alt="jobBox"></span><span><img src="~/frontEnd/assets/imgs/template/icons/star.svg" alt="jobBox"></span><span class="ml-10 color-text-mutted font-xs"><span>(</span><span>28</span><span>)</span></span></div><span class="card-location">Chicago, US</span>
                    <div class="text-center mt-30"><a class="share-facebook social-share-link" href="#"></a><a class="share-twitter social-share-link" href="#"></a><a class="share-instagram social-share-link" href="#"></a><a class="share-linkedin social-share-link" href="#"></a></div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-md-30">
                <div class="card-grid-4 text-center hover-up">
                  <div class="image-top-feature">
                    <figure><img alt="jobBox" src="~/frontEnd/assets/imgs/page/about/team3.png"></figure>
                  </div>
                  <div class="card-grid-4-info">
                    <h5 class="mt-10">Devon Lane</h5>
                    <p class="font-xs color-text-paragraph-2 mt-5 mb-5">Frontend Developer</p>
                    <div class="rate-reviews-small pt-5"><span><img src="~/frontEnd/assets/imgs/template/icons/star.svg" alt="jobBox"></span><span><img src="~/frontEnd/assets/imgs/template/icons/star.svg" alt="jobBox"></span><span><img src="~/frontEnd/assets/imgs/template/icons/star.svg" alt="jobBox"></span><span><img src="~/frontEnd/assets/imgs/template/icons/star.svg" alt="jobBox"></span><span><img src="~/frontEnd/assets/imgs/template/icons/star.svg" alt="jobBox"></span><span class="ml-10 color-text-mutted font-xs"><span>(</span><span>65</span><span>)</span></span></div><span class="card-location">New York, US</span>
                    <div class="text-center mt-30"><a class="share-facebook social-share-link" href="#"></a><a class="share-twitter social-share-link" href="#"></a><a class="share-instagram social-share-link" href="#"></a><a class="share-linkedin social-share-link" href="#"></a></div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-md-30">
                <div class="card-grid-4 text-center hover-up">
                  <div class="image-top-feature">
                    <figure><img alt="jobBox" src="~/frontEnd/assets/imgs/page/about/team4.png"></figure>
                  </div>
                  <div class="card-grid-4-info">
                    <h5 class="mt-10">Jerome Bell</h5>
                    <p class="font-xs color-text-paragraph-2 mt-5 mb-5">Frontend Developer</p>
                    <div class="rate-reviews-small pt-5"><span><img src="~/frontEnd/assets/imgs/template/icons/star.svg" alt="jobBox"></span><span><img src="~/frontEnd/assets/imgs/template/icons/star.svg" alt="jobBox"></span><span><img src="~/frontEnd/assets/imgs/template/icons/star.svg" alt="jobBox"></span><span><img src="~/frontEnd/assets/imgs/template/icons/star.svg" alt="jobBox"></span><span><img src="~/frontEnd/assets/imgs/template/icons/star.svg" alt="jobBox"></span><span class="ml-10 color-text-mutted font-xs"><span>(</span><span>65</span><span>)</span></span></div><span class="card-location">New York, US</span>
                    <div class="text-center mt-30"><a class="share-facebook social-share-link" href="#"></a><a class="share-twitter social-share-link" href="#"></a><a class="share-instagram social-share-link" href="#"></a><a class="share-linkedin social-share-link" href="#"></a></div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-md-30">
                <div class="card-grid-4 text-center hover-up">
                  <div class="image-top-feature">
                    <figure><img alt="jobBox" src="~/frontEnd/assets/imgs/page/about/team5.png"></figure>
                  </div>
                  <div class="card-grid-4-info">
                    <h5 class="mt-10">Theresa</h5>
                    <p class="font-xs color-text-paragraph-2 mt-5 mb-5">Frontend Developer</p>
                    <div class="rate-reviews-small pt-5"><span><img src="~/frontEnd/assets/imgs/template/icons/star.svg" alt="jobBox"></span><span><img src="~/frontEnd/assets/imgs/template/icons/star.svg" alt="jobBox"></span><span><img src="~/frontEnd/assets/imgs/template/icons/star.svg" alt="jobBox"></span><span><img src="~/frontEnd/assets/imgs/template/icons/star.svg" alt="jobBox"></span><span><img src="~/frontEnd/assets/imgs/template/icons/star.svg" alt="jobBox"></span><span class="ml-10 color-text-mutted font-xs"><span>(</span><span>65</span><span>)</span></span></div><span class="card-location">New York, US</span>
                    <div class="text-center mt-30"><a class="share-facebook social-share-link" href="#"></a><a class="share-twitter social-share-link" href="#"></a><a class="share-instagram social-share-link" href="#"></a><a class="share-linkedin social-share-link" href="#"></a></div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-md-30">
                <div class="card-grid-4 text-center hover-up">
                  <div class="image-top-feature">
                    <figure><img alt="jobBox" src="~/frontEnd/assets/imgs/page/about/team6.png"></figure>
                  </div>
                  <div class="card-grid-4-info">
                    <h5 class="mt-10">Cameron</h5>
                    <p class="font-xs color-text-paragraph-2 mt-5 mb-5">Frontend Developer</p>
                    <div class="rate-reviews-small pt-5"><span><img src="~/frontEnd/assets/imgs/template/icons/star.svg" alt="jobBox"></span><span><img src="~/frontEnd/assets/imgs/template/icons/star.svg" alt="jobBox"></span><span><img src="~/frontEnd/assets/imgs/template/icons/star.svg" alt="jobBox"></span><span><img src="~/frontEnd/assets/imgs/template/icons/star.svg" alt="jobBox"></span><span><img src="~/frontEnd/assets/imgs/template/icons/star.svg" alt="jobBox"></span><span class="ml-10 color-text-mutted font-xs"><span>(</span><span>65</span><span>)</span></span></div><span class="card-location">New York, US</span>
                    <div class="text-center mt-30"><a class="share-facebook social-share-link" href="#"></a><a class="share-twitter social-share-link" href="#"></a><a class="share-instagram social-share-link" href="#"></a><a class="share-linkedin social-share-link" href="#"></a></div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-md-30">
                <div class="card-grid-4 text-center hover-up">
                  <div class="image-top-feature">
                    <figure><img alt="jobBox" src="~/frontEnd/assets/imgs/page/about/team7.png"></figure>
                  </div>
                  <div class="card-grid-4-info">
                    <h5 class="mt-10">Jacob Jones</h5>
                    <p class="font-xs color-text-paragraph-2 mt-5 mb-5">Frontend Developer</p>
                    <div class="rate-reviews-small pt-5"><span><img src="~/frontEnd/assets/imgs/template/icons/star.svg" alt="jobBox"></span><span><img src="~/frontEnd/assets/imgs/template/icons/star.svg" alt="jobBox"></span><span><img src="~/frontEnd/assets/imgs/template/icons/star.svg" alt="jobBox"></span><span><img src="~/frontEnd/assets/imgs/template/icons/star.svg" alt="jobBox"></span><span><img src="~/frontEnd/assets/imgs/template/icons/star.svg" alt="jobBox"></span><span class="ml-10 color-text-mutted font-xs"><span>(</span><span>65</span><span>)</span></span></div><span class="card-location">New York, US</span>
                    <div class="text-center mt-30"><a class="share-facebook social-share-link" href="#"></a><a class="share-twitter social-share-link" href="#"></a><a class="share-instagram social-share-link" href="#"></a><a class="share-linkedin social-share-link" href="#"></a></div>
                  </div>
                </div>
              </div>
              <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-md-30">
                <div class="card-grid-4 text-center hover-up">
                  <div class="image-top-feature">
                    <figure><img alt="jobBox" src="~/frontEnd/assets/imgs/page/about/team8.png"></figure>
                  </div>
                  <div class="card-grid-4-info">
                    <h5 class="mt-10">Court Henry</h5>
                    <p class="font-xs color-text-paragraph-2 mt-5 mb-5">Frontend Developer</p>
                    <div class="rate-reviews-small pt-5"><span><img src="~/frontEnd/assets/imgs/template/icons/star.svg" alt="jobBox"></span><span><img src="~/frontEnd/assets/imgs/template/icons/star.svg" alt="jobBox"></span><span><img src="~/frontEnd/assets/imgs/template/icons/star.svg" alt="jobBox"></span><span><img src="~/frontEnd/assets/imgs/template/icons/star.svg" alt="jobBox"></span><span><img src="~/frontEnd/assets/imgs/template/icons/star.svg" alt="jobBox"></span><span class="ml-10 color-text-mutted font-xs"><span>(</span><span>65</span><span>)</span></span></div><span class="card-location">New York, US</span>
                    <div class="text-center mt-30"><a class="share-facebook social-share-link" href="#"></a><a class="share-twitter social-share-link" href="#"></a><a class="share-instagram social-share-link" href="#"></a><a class="share-linkedin social-share-link" href="#"></a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section-box mt-50 mb-20">
        <div class="container">
          <div class="box-newsletter">
            <div class="row">
              <div class="col-xl-3 col-12 text-center d-none d-xl-block"><img src="~/frontEnd/assets/imgs/template/newsletter-left.png" alt="joxBox"></div>
              <div class="col-lg-12 col-xl-6 col-12">
                <h2 class="text-md-newsletter text-center">New Things Will Always<br> Update Regularly</h2>
                <div class="box-form-newsletter mt-40">
                  <form class="form-newsletter">
                    <input class="input-newsletter" type="text" value="" placeholder="Enter your email here">
                    <button class="btn btn-default font-heading icon-send-letter">Subscribe</button>
                  </form>
                </div>
              </div>
              <div class="col-xl-3 col-12 text-center d-none d-xl-block"><img src="~/frontEnd/assets/imgs/template/newsletter-right.png" alt="joxBox"></div>
            </div>
          </div>
        </div>
      </section>
    </main>