
@{
    ViewData["Title"] = "Career";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<main class="main">
    <section class="section-box">
        <div class="breacrumb-cover bg-img-about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <h2 class="mb-10">Career</h2>
                        <p class="font-lg color-text-paragraph-2">Get the latest news, updates and tips</p>
                    </div>
                    <div class="col-lg-6 text-lg-end">
                        <ul class="breadcrumbs mt-40">
                            <li><a class="home-icon" href="#">Home</a></li>
                            <li>Career</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-box mt-50">
        <div class="post-loop-grid">
            <div class="container">
                <div class="text-center">
                    <h6 class="f-18 color-text-mutted text-uppercase">Our company</h6>
                    <h2 class="section-title mb-10 wow animate__animated animate__fadeInUp">About Our Company</h2>
                    <p class="font-sm color-text-paragraph wow animate__animated animate__fadeInUp w-lg-50 mx-auto">
                        Marine Hive Ltd is a seafarere's recruitment company that offers a comprehensive range
                        of high quality marine services.It applies maritime expertise to ensure a safe and efficient
                        operation for the shipping sector and steps ahead in providing energy to the shipping world.
                    </p>
                </div>
                <div class="row mt-70">
                    <div class="col-lg-6 col-md-12 col-sm-12"><img src="~/frontEnd/assets/imgs/page/about/career.png" alt="joxBox"></div>
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <h3 class="mt-15">Career With Us</h3>
                        <div class="mt-20">
                            <p class="font-md color-text-paragraph mt-20">
                                <h6>Marine Hive Career</h6>

                                <br /><br />
                                At Marine Hive Limited (MHL) we strive for Operational Excellence. We welcome seafarers onboard our managed vessels and staff ashore who share our core values, aspirations and will work enthusiastically as a team to deliver high quality ship manning & crew management services.
                                <br />
                                <br />
                                <br />
                                We provide excellent career development and promotional prospects to the right candidates. If you have the right qualifications and drive, we invite you to apply to us by completing the MHL application form and forwarding it to us.
                                <br /><br />
                                MHL Application Form download
                                <br /><br />
                                Complete the Online Application Form and forward to crewing@marinehive.com<br />
                            </p>
                        </div>
                        @*<div class="mt-30"><a class="btn btn-brand-1" href="#">Read More</a></div>*@
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>