@{
    ViewData["Title"] = "Crew Training";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>

    <script src="~/frontend/assets/js/vendor/jquery-3.6.0.min.js"></script>
</head>
<main class="main">
    <section class="section-box">
        <div class="breacrumb-cover bg-img-about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <h2 class="mb-10">Crew Training</h2>
                        <p class="font-lg color-text-paragraph-2">Get the latest news, updates and tips</p>
                    </div>
                    <div class="col-lg-6 text-lg-end">
                        <ul class="breadcrumbs mt-40">
                            <li><a class="home-icon" href="#">Home</a></li>
                            <li>Crew Training</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-box mt-50">
        <div class="post-loop-grid">
            <div class="container">
                <div class="text-center">
                    <h4 class="color-text-mutted text-uppercase" style="color:orange">Partnership with Our company</h4>
                    @*<h2 class="section-title mb-10 wow animate__animated animate__fadeInUp">About Our Company</h2>*@
                   @* <p class="font-sm color-text-paragraph wow animate__animated animate__fadeInUp w-lg-50 mx-auto">
                        Marine Hive Ltd is a seafarere's recruitment company that offers a comprehensive range
                        of high quality marine services.It applies maritime expertise to ensure a safe and efficient
                        operation for the shipping sector and steps ahead in providing energy to the shipping world.
                    </p>*@
                </div>
                <div class="row mt-50">

                    <div class="col-lg-1 col-md-1 col-sm-1"></div>
                    <div class="col-lg-10 col-md-10 col-sm-12">
                        <div class="breacrumb-cover bg-img-crewTraining">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <h1 class="mb-10" style="color:red">Western Maritime Academy</h1>
                                        <p class="font-lg color-text-paragraph-2" style="color:darkblue">One stop solution to all your needs</p>
                                    </div>
                                    <div class="col-lg-6 text-lg-end">
                                        <img src="~/images/crewtraining/WMA.jfif" />
                                        <h5 class="font-lg color-text-paragraph-2" style="color:black">Our partner Organization</h5>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-1"></div>
                    
                </div>
            </div>
        </div>
    </section>

    <section class="section-box mt-30">
        <div class="post-loop-grid">
            <div class="container">

                <div class="row mt-30">

                    <div class="text-center">

                        <h2 class="section-title mb-10 wow animate__animated animate__fadeInUp">Meet Our Board of Directors</h2>

                    </div>

                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 mb-md-30">
                        <div class="card-grid-4 text-center hover-up">
                            <div class="image-top-feature">


                                <img alt="DirectorName" class="crewDetails-img" src="~/images/CrewTraining/onebit_088.jpg">


                            </div>
                            <div class="card-grid-4-info">
                                <h4 class="mt-10">Nautical</h4>
                                <p align="justify" style="font-size:15px !important" class="font-xs color-text-paragraph-2 mt-5 mb-5">WMA provides world class training & education for Trainee Officers. WMA offers HND program in Nautical Science. Having the state of the art 270 degree full function bridge & cargo handling simulators.</p>
                                <div class="rate-reviews-small pt-5">
                                    <div class="text-center mt-10">
                                        <a class="btn btn-info" href="http://wmabd.com/">Details</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 mb-md-30">
                        <div class="card-grid-4 text-center hover-up">
                            <div class="image-top-feature">


                                <img alt="DirectorName" class="crewDetails-img" src="~/images/CrewTraining/onebit_155.png">


                            </div>
                            <div class="card-grid-4-info">
                                <h4 class="mt-10">Marine Engineering</h4>
                                <p align="justify" style="font-size:15px !important" class="font-xs color-text-paragraph-2 mt-5 mb-5">
                                    WMA’s full function Engine room Simulator, workshop and resourceful faculty ensures uncompromising 
                                    quality in maritime education. WMA also offers DG, Shipping approved preparatory & STCW courses..
                                </p>
                                <div class="rate-reviews-small pt-5">
                                    <div class="text-center mt-10">
                                        <a class="btn btn-info" href="http://wmabd.com/">Details</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 mb-md-30">
                        <div class="card-grid-4 text-center hover-up">
                            <div class="image-top-feature">


                                <img alt="DirectorName" class="crewDetails-img" src="~/images/CrewTraining/onebit_155.png">


                            </div>
                            <div class="card-grid-4-info">
                                <h4 class="mt-10">Marine Engineering</h4>
                                <p align="justify" style="font-size:15px !important" class="font-xs color-text-paragraph-2 mt-5 mb-5">
                                    WMA’s full function Engine room Simulator, workshop and resourceful faculty ensures uncompromising 
                                    quality in maritime education. WMA also offers DG, Shipping approved preparatory & STCW courses..
                                </p>
                                <div class="rate-reviews-small pt-5">
                                    <div class="text-center mt-10">
                                        <a class="btn btn-info" href="http://wmabd.com/">Details</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 mb-md-30">
                        <div class="card-grid-4 text-center hover-up">
                            <div class="image-top-feature">


                                <img alt="DirectorName" class="crewDetails-img" src="~/images/CrewTraining/onebit_155.png">


                            </div>
                            <div class="card-grid-4-info">
                                <h4 class="mt-10">Marine Engineering</h4>
                                <p align="justify" style="font-size:15px !important" class="font-xs color-text-paragraph-2 mt-5 mb-5">
                                    WMA’s full function Engine room Simulator, workshop and resourceful faculty ensures uncompromising 
                                    quality in maritime education. WMA also offers DG, Shipping approved preparatory & STCW courses..
                                </p>
                                <div class="rate-reviews-small pt-5">
                                    <div class="text-center mt-10">
                                        <a class="btn btn-info" href="http://wmabd.com/">Details</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12 mb-md-30">
                        <div class="card-grid-4 text-center hover-up">
                            <div class="image-top-feature">


                                <img alt="DirectorName" class="crewDetails-img" src="~/images/CrewTraining/onebit_155.png">


                            </div>
                            <div class="card-grid-4-info">
                                <h4 class="mt-10">Marine Engineering</h4>
                                <p align="justify" style="font-size:15px !important" class="font-xs color-text-paragraph-2 mt-5 mb-5">
                                    WMA’s full function Engine room Simulator, workshop and resourceful faculty ensures uncompromising 
                                    quality in maritime education. WMA also offers DG, Shipping approved preparatory & STCW courses..
                                </p>
                                <div class="rate-reviews-small pt-5">
                                    <div class="text-center mt-10">
                                        <a class="btn btn-info" href="http://wmabd.com/">Details</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </section>
</main>

