@{
    ViewData["Title"] = "Mission & Vision";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>

    <script src="~/frontend/assets/js/vendor/jquery-3.6.0.min.js"></script>
</head>
<main class="main">
    <section class="section-box">
        <div class="breacrumb-cover bg-img-about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <h2 class="mb-10">Mission & Vision</h2>
                        <p class="font-lg color-text-paragraph-2">We work for the best.</p>
                    </div>
                    <div class="col-lg-6 text-lg-end">
                        <ul class="breadcrumbs mt-40">
                            <li><a class="home-icon" href="#">Home</a></li>
                            <li>Mission & Vision</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-box mt-50">
        <div class="post-loop-grid">
            <div class="container">
                <div class="text-center">
                    @*<h6 class="f-18 color-text-mutted text-uppercase">Our company</h6>*@
                    <h2 class="section-title mb-10 wow animate__animated animate__fadeInUp" style="font-size:25px;">
                        Marine Hive Ltd was established in the year 2015,
                        under the company act of the Govt. of Bangladesh and Licensed by the Director General, Department of Shipping as an authorized Crew Recruiting / Manning agency.
                    </h2>
                    @*<p class="font-sm color-text-paragraph wow animate__animated animate__fadeInUp w-lg-50 mx-auto">
                    Marine Hive Ltd is a seafarere's recruitment company that offers a comprehensive range
                    of high quality marine services.It applies maritime expertise to ensure a safe and efficient
                    operation for the shipping sector and steps ahead in providing energy to the shipping world.
                    </p>*@
                </div>
                <div class="row mt-70">
                    <div class="col-lg-6 col-md-12 col-sm-12"><img src="~/frontEnd/assets/imgs/page/about/img-about2.png" alt="joxBox"></div>
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <h3 class="mt-15">Our Mission</h3>
                        <div class="mt-20">
                            <p class="font-md color-text-paragraph mt-20">
                                To be the leading provider of Quality Marine Hive to the Marine Industry



                            </p>
                        </div>
                        @*<div class="mt-30"><a class="btn btn-brand-1" href="#">Read More</a></div>*@
                    </div>
                </div>
                <div class="row mt-70">

                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <h3 class="mt-15">Our Vision</h3>
                        <div class="mt-20">
                            <p class="font-md color-text-paragraph mt-20 ">
                                To be a role model in our industry by providing a highly professional, dedicated and transparent ship management services to our customers/clients.

                                To prevent human injury, loss of life and to avoid damage to the environment by pursuing a policy of zero accidents and zero spills.

                                To encourage and foster an innovative spirit with the aim of continuously seeking improvements to the quality and services offered by us to our customers.

                                To build a long lasting relationship with our customers and employees and to continuously aim to excel industry's highest standards.

                                To conserve energy through operation/equipment modification
                            </p>
                        </div>
                        @*<div class="mt-30"><a class="btn btn-brand-1" href="#">Read More</a></div>*@
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12"><img src="~/frontEnd/assets/imgs/page/about/img-about2.png" alt="joxBox"></div>
                </div>
            </div>
        </div>
    </section>
</main>


