
@{
    ViewData["Title"] = "PortAgency";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<head>

    <script src="~/frontend/assets/js/vendor/jquery-3.6.0.min.js"></script>
</head>
<main class="main">
    <section class="section-box">
        <div class="breacrumb-cover bg-img-about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <h2 class="mb-10">Port Agency</h2>
                        <p class="font-lg color-text-paragraph-2">Get the latest news, updates and tips</p>
                    </div>
                    <div class="col-lg-6 text-lg-end">
                        <ul class="breadcrumbs mt-40">
                            <li><a class="home-icon" href="#">Home</a></li>
                            <li>Port Agency</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-box mt-50">
        <div class="post-loop-grid">
            <div class="container">
                <div class="text-center">
                    <h6 class="f-18 color-text-mutted text-uppercase">Our company</h6>
                    <p class="font-sm color-text-paragraph wow animate__animated animate__fadeInUp w-lg-50 mx-auto">
                        Marine Hive Ltd is a seafarere's recruitment company that offers a comprehensive range
                        of high quality marine services.It applies maritime expertise to ensure a safe and efficient
                        operation for the shipping sector and steps ahead in providing energy to the shipping world.
                    </p>
                </div>
                <div class="row mt-70">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        
                        <div class="col-lg-6 col-md-12 col-sm-12 text-center">
                            <img src="~/frontEnd/assets/imgs/page/about/AGENCY-SERVICES.jpg" alt="Marine hive">
                            <h3 class="mt-15">Port Agency</h3>
                            <br />
                        </div>
                        <div class="mt-20">
                            <p class="font-md color-text-paragraph mt-20">

                                <h6>Marine Hive Agencies</h6>
                                <br />Marine Hive Agencies Pte Ltd, a wholly owned subsidiary of Marine Hive provides a comprehensive range of ship agency services to a broad spectrum of both local and international ship owners' vessels calling at Bangladesh.

                                <br />The full range of port agency services offered is as follows:
                                <br />
                                <br /> * Ship Husbandry agency services for all types of ship calling at Bangladesh ports.
                                <br /> * Crew Changes.
                                <br /> * Delivery of Cash to Master.
                                <br /> * Bunkering operations.
                                <br /> * De-slopping.
                                <br /> * Arranging tenders for supply of stores and spares.
                                <br /> * Services Outside Port Limits (OPL).
                                <br /> * Cargo Loading and Discharging.
                                <br /> * Attendance during Dry-docking and Repairs.
                                <br /> * Delivery/Redelivery surveys.
                                <br /> 
                                <br /> Our well experienced Agency staff is always on call to handle operations and can attend promptly to incoming messages from vessels and urgent requirements of our principals on a 24 hour basis 7 days a week.
                                <br /> 
                                <br /> We provide Quality Services with a high level of commitment to ensure the safe, efficient and fast turnaround of the vessel. Through close liaison and rapport with local port authorities and service providers we ensure smooth operations and provide prompt and regular communication updates to the vessel and owners.
                                <br /> 
                                <br /> For enquires please contact:
                                <br /> Contact person: Chief Eng-Omar Sharif Arefeen
                                <br /> Phone: +8802 7913662
                                <br /> Email: crewing@marinehive.com
                            </p>
                        </div>


                    </div>

                </div>
            </div>
        </div>
    </section>
</main>



