@{
    ViewData["Title"] = "TechServices";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<head>

    <script src="~/frontend/assets/js/vendor/jquery-3.6.0.min.js"></script>
</head>
<main class="main">
    <section class="section-box">
        <div class="breacrumb-cover bg-img-about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <h2 class="mb-10">Tech Services</h2>
                        <p class="font-lg color-text-paragraph-2">Get the latest news, updates and tips</p>
                    </div>
                    <div class="col-lg-6 text-lg-end">
                        <ul class="breadcrumbs mt-40">
                            <li><a class="home-icon" href="#">Home</a></li>
                            <li>Tech Services</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-box mt-50">
        <div class="post-loop-grid">
            <div class="container">
                <div class="text-center">
                    <h6 class="f-18 color-text-mutted text-uppercase">Our company</h6>
                    <p class="font-sm color-text-paragraph wow animate__animated animate__fadeInUp w-lg-50 mx-auto">
                        Marine Hive Ltd is a seafarere's recruitment company that offers a comprehensive range
                        of high quality marine services.It applies maritime expertise to ensure a safe and efficient
                        operation for the shipping sector and steps ahead in providing energy to the shipping world.
                    </p>
                </div>
                <div class="row mt-70">
                    <div class="col-lg-12 col-md-12 col-sm-12">

                        <div class="col-lg-6 col-md-12 col-sm-12 text-center">
                            <img src="~/frontEnd/assets/imgs/page/about/technical_service.jpg" alt="Marine hive">
                            <h3 class="mt-15">Tech Services</h3>
                            <br />
                        </div>
                        <div class="mt-20">
                            <p class="font-md color-text-paragraph mt-20" align="justify">

                                <h6>Ship Management</h6>
                                <h6>Tank Cleaning</h6>
                                <h6>Ship Vetting</h6>
                                <h6>On Board Repair, Maintence & Installation</h6>
                                <h6>Ship Delivery</h6>
                                <h6>Condition Monitoring Surveys & Systems</h6>
                                <h6>Vessel Emergency Support</h6>
                                <h6>Ship Recycling/Demolition</h6>


                                <br /><h6>
                                    Ship Management<br />
                                </h6>
                                As owners continue in their attempt to lower costs and balance the books, the popularity to hand over the crewing and operating management is on the rise. But in the current economic climate, only the best ship managers will flourish.
                                Should you have inquiries and further information please feel free to contact us at +8801912-804833(Cell) or Email : crewing@marinehive.com.
                                <br />Tank Cleaning<br />
                                Tank cleaning is not a problem. It is always challenging, very often frustrating, but never a problem.Its not anymore soap & water that can perfectly clean a modern chemical tanker to the required standard but goes beyond.With the progressive changes and requirements getting more stringent in chemical industry now chemical tankers are required to clean the cargo compartments to further higher standards than it was in earlier times.Its a blending of experience & knowledge which may ultimately lead to a success in a total tank cleaning operation and our view is to bring this two areas together to achieve the ultimate success.We do have team of experts in tank cleaning sector who are ready to provide all required support / assistance in any tank cleaning operations/cargo tank preparation for chemical cargoes & conversion of cargoes from CPP to Methanol standards.
                                Should you have inquiries and further information please feel free to contact us at +8801912-804833(Cell) or Email : crewing@marinehive.com.
                                <br /><h6>
                                    Ship Vetting<br />
                                </h6>
                                In event of Oil Majors Vetting inspection, Pre-vetting Preparations we can provide full support of required senior officers with vast Knowledge & experience of OCIMF requirement, CDI requirement .Our standby staffs can support full matrix criteria and meet the shipping industry standards for all Oil Majors, provide required training for officers and engineers with best possible performance assurance.
                                Should you have inquiries and further information please feel free to contact us at +8801912-804833(Cell) or Email : crewing@marinehive.com.
                                On Board Repair, Maintence & Installation <br />
                                The SRS core team is composed of project managers, engineers and blue collar workforce. We are strategically located in UK, Singapore, US, UAE, etc. to serve large shipping traffic, to minimize travel time, and allow us to react at short notice. We have extensive experience to overcome the logistic challenges of repairs in challenging locations (such as West Africa) and how to cope with complex labor laws and visa regulations.
                                <br />
                                Originally based on the provision of riding gangs, SRS has recently evolved into complex, fast track turnkey projects (for which yards do not have enough time, cost flexibility, and engineering capabilities to cope with). As an example the installation of scrubbers and water ballast treatment systems require careful planning and have proved to be cost effective, thanks to optimization of pre- and post- dry dock works.
                                Should you have inquiries and further information please feel free to contact us at +8801912-804833(Cell) or Email : crewing@marinehive.com.
                                <br />
                                <h6>
                                    Ship Delivery<br />
                                </h6>
                                We provide well experienced team of Senior & Junior Officers / Engineers and Ratings to take over ships from any place in the world and deliver to any destination in a safe and professional manner.
                                <br />
                                Should you have inquiries and further information please feel free to contact us at +8801912-804833(Cell) or Email : crewing@marinehive.com.
                                Condition Monitoring Surveys & Systems.<br />
                                The PACT Focus service is ideally carried out annually or before the vessel enters dry dock or for warrantee claims.
                                <br /><br />
                                Condition monitoring engineer sails with the vessel for 5 to 6 days and performs a complete health check of the ship.
                                The features are as mentioned below.
                                <br /><br />
                                <br /> * A customised solution for each ship
                                <br /> * Plan and prioritise ship’s repair work in the dry dock
                                <br /> * Use in support of warrantee claims
                                <br /> * Latest condition monitoring technology extending the human senses
                                <br /> * Tests to ISO standards where available
                                <br /> * Intrinsically safe ATEX approved equipment for hazardous zones
                                <br /> * Direct your maintenance resources to where they are most needed
                                <br /> * Minimum waste, maximum effect.
                                <br /> * Condition monitoring techniques used
                                <br /> * Vibration and shock pulse data measured from all machinery. On the spot analysis and interpretation of results.
                                <br /> * Thermo graphic inspection of all electrical and some critical mechanical systems.
                                <br /> * Pressure and vacuum leak detection using passive ultrasonic frequency methods.
                                <br /> * Thickness measurement of critical machinery systems.
                                <br /> * Main and auxiliary engines performance test and power balance analysis.
                                <br /> * Detailed machinery health assessment report.

                                <br />Should you have inquiries and further information please feel free to contact us at +8801912-804833(Cell) or Email : crewing@marinehive.com.
                                Vessel Emergency Support.
                                Vessel Emergency Support (VES) Services can be delivered as an integrated part of your emergency response planning. The service can be tailored to precisely your needs and typically includes:-
                                <br />
                                Hull modelling and enrolment of vessel into our vessel database Rapid emergency response advice on stability and structural strength 24 /365 availability to give real time support at the incident location Integrated as part of your emergency response drill requirements Methodology
                                <br />
                                The Vessel Emergency Support Service is provided by a team of experienced naval architects with support from mariners, to ensure that owners have access to the best advice when they most need it.
                                <br />
                                An integral part of our service is the support to owners in the development of contingency planning and training. We assist owner’s contingency teams to establish effective control and monitoring of incidents. This includes providing training to owners on damage stability and strength.
                                <br />
                                Our clients include both dry cargo and tanker operators who recognise the value of having access to this type of service whether the requirement is mandated or not.
                                <br />
                                In the event of a vessel sustaining damage due to grounding, collision, or other contingency we will provide advice on:
                                <br />
                                <br /> Resulting stability, drafts and trim
                                <br /> Structural integrity, bending moments and shear forces
                                <br /> Oil outflow prediction
                                <br /> Ground reaction and required tug pull off forces

                                Should you have inquiries and further information please feel free to contact us at +8801912-804833(Cell) or Email : crewing@marinehive.com.
                                <br />Software Tools<br /><br />
                                Our team uses Napa software as an aid to undertaking damage stability and hull strength calculations. Napa accepts input using DXF format hull models directly form a number of vessel design tools.
                                <br />
                                This software is used by a number of Classification Societies and independent consultants providing salvage services throughout the world and is regarded as the leading software tool for this task.The software is capable of evaluating the stability and structural integrity of vessels based on their departure condition and input received from the vessel at the time of the incident.
                                <br />
                                It can also estimate potential oil outflow and predict the vessel’s movements as a result of tidal variations, ground reaction forces and the bollard pull necessary to re-float the vessel in the event of grounding.Your risk management strategy will be greatly enhanced by having access to our expert advice which is available 24 hours a day 365 days a year.
                                Should you have inquiries and further information please feel free to contact us at +8801912-804833(Cell) or Email : operations@marinehive.com.
                                Ship Recycling/Demolition
                                Demolition Vessels:- MHL excels in providing complete one stop solution to vessels heading on their final voyages for Demolition at Chittagong port in Bangladesh. This is a niche segment of its Technical arm. Services include right from initial pre purchase inspections of the vessel on owner’s given information to make an informed decision of purchase and its costs to get her to final destination and on behalf of owners to making it sea worthy under its own power or for towing across continents. MHL also assists in stream lining banking formalities for the sale and purchase of any scrap vessel. MHL’s huge network of business associates across the world help majorly in resolving any issue.
                                Should you have inquiries and further information please feel free to contact us at +8801912-804833(Cell) or Email : ce.arefeen@marinehive.com.
                            </p>
                        </div>


                    </div>

                </div>
            </div>
        </div>
    </section>
</main>



