
@{
    ViewData["Title"] = "WhyBDCrew";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<head>

    <script src="~/frontend/assets/js/vendor/jquery-3.6.0.min.js"></script>
</head>
<main class="main">
    <section class="section-box">
        <div class="breacrumb-cover bg-img-about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <h2 class="mb-10">Why Bangladeshi Crew</h2>
                        <p class="font-lg color-text-paragraph-2">Get the latest news, updates and tips</p>
                    </div>
                    <div class="col-lg-6 text-lg-end">
                        <ul class="breadcrumbs mt-40">
                            <li><a class="home-icon" href="#">Home</a></li>
                            <li>Why Bangladeshi Crew</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-box mt-50">
        <div class="post-loop-grid">
            <div class="container">
                <div class="text-center">
                    <h6 class="f-18 color-text-mutted text-uppercase">Our company</h6>
                    <p class="font-sm color-text-paragraph wow animate__animated animate__fadeInUp w-lg-50 mx-auto">
                        Marine Hive Ltd is a seafarere's recruitment company that offers a comprehensive range
                        of high quality marine services.It applies maritime expertise to ensure a safe and efficient
                        operation for the shipping sector and steps ahead in providing energy to the shipping world.
                    </p>
                </div>
                <div class="row mt-70">
                    <div class="col-lg-6 col-md-12 col-sm-12"><img src="~/frontEnd/assets/imgs/page/about/img-about2.png" alt="joxBox"></div>
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <h3 class="mt-15">Why Bangladeshi Crew</h3>
                        <div class="mt-20">
                            <p class="font-md color-text-paragraph mt-20">
                                <h6>IMO :</h6> Bangladesh is an IMO white listed Country.
                                <br /><h6>EMSA :</h6> Bangladesh STCW Training is recognized by the European Maritime Safety Agency-EMSA which provides our crew high quality & Competency.
                                <br /> <h6>MLC :</h6> Bangladesh Ratified MLC in 06 Nov 2014 which convention will come into force on 06 Nov 2015. In accordance with Standard A4.5(2) and (10), the government has specified the following branches of special security: Medical care, Sickness benefit and employment injury benefit.
                                <br />
                                <br />
                                <br />

                                <h5>Crew QUALITY:</h5><br />
                                Willing to work hard in a multicultural environment at Sea.<br />
                                Respect other religion & nationality.<br />
                                Have NO dietary prohibition<br />
                                Expect reasonable pay as per MLC/ITF celling<br />
                                Contract duration sets by ship owners’<br />
                            </p>
                        </div>
                        @*<div class="mt-30"><a class="btn btn-brand-1" href="#">Read More</a></div>*@
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12">
                       
                        <div class="mt-20">
                            <p class="font-md color-text-paragraph mt-20">
                                <h5>Bangladeshi Crew Background:</h5>
                                <br /> Professionally educated , well trained & experienced as per STCW guidelines
                                <br /> Strong English background at Academy & Specially trained on Maritime English Courses
                                <br /> Respects other race, creeds, nationals as they are Loyal & Friendly
                                <br /> Young , Energetic, Qualified, highly Skilled & Competent workforce
                                <br /> Highly motivated personality with succeeding mandate as per Ship-owners’ requirement
                                <br /> Enthusiastic to work the multicultural international working team
                                <br /> Fully dedicated, Caring, Safe, Secured, Reliable & Faithful
                                <br /> Very eager to learn & apply gained knowledge in their professional progression<br />
                                <br /> <h5>Academic Partner:</h5>
                                <br /> 1. Bangladesh Marine Academy-BMA
                                <br /> 2. National Maritime Institute-NMI
                                <br /> 3. Bangladesh Marine Fisheries Academy-BMFA

                                
                            </p>
                        </div>
                        @*<div class="mt-30"><a class="btn btn-brand-1" href="#">Read More</a></div>*@
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>




