@model App.DAL.Models.TblDirectors

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

@*<script src="~/lib/jquery/dist/jquery.js"></script>*@

<script src="~/frontend/assets/js/vendor/jquery-3.6.0.min.js"></script>
<script src="~/frontend/assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
<script src="~/Scripts/Directors/CreateDirector.js"></script>

<div class="box-content">

    <div class="box-heading">
        <div class="box-title">
            <h3 class="mb-35">Create Director</h3>
        </div>
        <div class="box-breadcrumb">
            <a class="btn btn-dark" asp-controller="Directors" asp-action="Index">Back to List</a>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-6">
            <form asp-action="Create" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
               @* <div class="form-group">
                    <label asp-for="DirectorId" class="control-label"></label>
                    <input id="" data-member="" id="" data-member="" asp-for="DirectorId" class="form-control" />
                    <span asp-validation-for="DirectorId" class="text-danger"></span>
                </div>*@
                <div class="form-group">
                    <label  class="control-label">Director Name</label>
                    <input id="DirectorName" data-member="DirectorName" asp-for="DirectorName" class="form-control" />
                    <span asp-validation-for="DirectorName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Designation" class="control-label"></label>
                    <input id="Designation" data-member="Designation" asp-for="Designation" class="form-control" />
                    <span asp-validation-for="Designation" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CompanyPost" class="control-label"></label>
                    <input id="CompanyPost" data-member="CompanyPost" asp-for="CompanyPost" class="form-control" />
                    <span asp-validation-for="CompanyPost" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label  class="control-label">Upload Profile Image</label>
                    <input type="file" name="PhotoUpload" data-member="PhotoUpload" asp-for="PhotoUpload" class="form-control" />
                    <span asp-validation-for="PhotoUpload" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Details" class="control-label"></label>
                    <textarea asp-for="Details" class="form-control" rows="5"></textarea>
                    <span asp-validation-for="Details" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FacebookLink" class="control-label"></label>
                    <input id="" data-member="" asp-for="FacebookLink" class="form-control" />
                    <span asp-validation-for="FacebookLink" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TwitterLink" class="control-label"></label>
                    <input id="" data-member="" asp-for="TwitterLink" class="form-control" />
                    <span asp-validation-for="TwitterLink" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LinkedInLink" class="control-label"></label>
                    <input id="" data-member="" asp-for="LinkedInLink" class="form-control" />
                    <span asp-validation-for="LinkedInLink" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input id="btnSaveDirector" type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

</div>

@*@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
*@