@model App.DAL.Models.TblDirectors

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
<div class="box-content">
    <div class="box-heading">
        <div class="box-title">
            <h3 class="mb-35">Update Director</h3>
        </div>
        <div class="box-breadcrumb">
            <a class="btn btn-dark" asp-controller="Directors" asp-action="Index">Back to List</a>
        </div>
    </div>
    <div class="row">
        <div class="form-control">
            <form asp-action="Edit" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="DirectorId" />
                <input type="hidden" asp-for="Image" />

                <div class="form-group">
                    <label asp-for="DirectorName" class="control-label"></label>
                    <input asp-for="DirectorName" class="form-control" />
                    <span asp-validation-for="DirectorName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Designation" class="control-label"></label>
                    <input asp-for="Designation" class="form-control" />
                    <span asp-validation-for="Designation" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CompanyPost" class="control-label"></label>
                    <input asp-for="CompanyPost" class="form-control" />
                    <span asp-validation-for="CompanyPost" class="text-danger"></span>
                </div>

                @*<label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" />*@
                <img src="@Model.Image" height="150px" width="300px" />
                <div class="form-group">
                    <label class="control-label">Change Profile Image</label>
                    <input id="PhotoUpload" name="PhotoUpload" data-member="PhotoUpload" asp-for="PhotoUpload" class="form-control" />
                    <span asp-validation-for="PhotoUpload" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Details" class="control-label"></label>
                    <textarea asp-for="Details" class="form-control" rows="5"></textarea>

                    <span asp-validation-for="Details" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FacebookLink" class="control-label"></label>
                    <input asp-for="FacebookLink" class="form-control" />
                    <span asp-validation-for="FacebookLink" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TwitterLink" class="control-label"></label>
                    <input asp-for="TwitterLink" class="form-control" />
                    <span asp-validation-for="TwitterLink" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LinkedInLink" class="control-label"></label>
                    <input asp-for="LinkedInLink" class="form-control" />
                    <span asp-validation-for="LinkedInLink" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>

        </div>
    </div>
</div>


@*@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }*@
