@model App.DAL.Models.TblUser

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<main class="main">
    <section class="pt-100 login-register">
        <div class="container">
            <div class="row login-register-cover">
                <div class="col-lg-4 col-md-6 col-sm-12 mx-auto">
                    
                    <div class="text-center">
                        <p class="font-sm text-brand-2">Welcome back! </p>
                        <h2 class="mt-10 mb-5 text-brand-1">Member Login</h2>
                        <p class="font-sm text-muted mb-30">Access to all features</p>
                        @*<div class="divider-text-center"><span>Or continue with</span></div>*@
                    </div>
                    <form class="login-register text-start mt-20" method="post">
                        @*<div class="form-group">
                        <label asp-for="UserRoleId" class="control-label"></label>
                        <select asp-for="UserRoleId" class="form-control" asp-items="ViewBag.UserRoleId"></select>
                        </div>*@
                        <div class="form-group">
                            <label class="form-label" for="Username">Username or Email address *</label>
                            <input class="form-control" id="Username" type="text" required="Please fill out this " asp-for="UserName" placeholder="sample@gmail.com">
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="UserPassword">Password *</label>
                            <input class="form-control" id="UserPassword" type="password" required="" asp-for="UserPassword" placeholder="************">
                        </div>
                        <div class="login_footer form-group d-flex justify-content-between">
                            <label class="cb-container">
                                <input type="checkbox"><span class="text-small">Remenber me</span><span class="checkmark"></span>
                            </label><a class="text-muted" href="page-contact.html">Forgot Password</a>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-brand-1 hover-up w-100" type="submit" name="login">Login</button>
                        </div>
                        <div class="text-muted text-center">Don't have an Account? <a asp-controller="Login" asp-action="Register">Sign up</a></div>
                    </form>
                </div>
                <div class="img-1 d-none d-lg-block"><img class="shape-1" src="~/frontEnd/assets/imgs/page/login-register/img-4.svg" alt="JobBox"></div>
                <div class="img-2"><img src="~/frontEnd/assets/imgs/page/login-register/img-3.svg" alt="JobBox"></div>
            </div>
        </div>
    </section>
</main>