<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="msapplication-TileColor" content="#0E0E0E">
    <meta name="template-color" content="#0E0E0E">
    @*<link rel="manifest" href="manifest.json" crossorigin>*@
    <meta name="msapplication-config" content="browserconfig.xml">
    <meta name="description" content="Index page">
    <meta name="keywords" content="index, page">
    <meta name="author" content="">
    <link rel="shortcut icon" type="image/x-icon" href="~/frontend/assets/imgs/template/favicon.svg">
    <link href="~/frontend/assets/css/style.css?version=4.1" rel="stylesheet">

    <title>MARINE HIVE LTD </title>
</head>
<body>
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="text-center"><img src="~/frontend/assets/imgs/template/loading.gif" alt="MarineHive"></div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="ModalApplyJobForm" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content apply-job-form">
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="modal-body pl-30 pr-30 pt-50">
                    <div class="text-center">
                        <p class="font-sm text-brand-2">Job Application </p>
                        <h2 class="mt-10 mb-5 text-brand-1 text-capitalize">Start your career today</h2>
                        <p class="font-sm text-muted mb-30">Please fill in your information and send it to the employer.                   </p>
                    </div>
                    <form class="login-register text-start mt-20 pb-30" action="#">
                        <div class="form-group">
                            <label class="form-label" for="input-1">Full Name *</label>
                            <input class="form-control" id="input-1" type="text" required="" name="fullname" placeholder="Steven Job">
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="input-2">Email *</label>
                            <input class="form-control" id="input-2" type="email" required="" name="emailaddress" placeholder="stevenjob@gmail.com">
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="number">Contact Number *</label>
                            <input class="form-control" id="number" type="text" required="" name="phone" placeholder="(+01) 234 567 89">
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="des">Description</label>
                            <input class="form-control" id="des" type="text" required="" name="Description" placeholder="Your description...">
                        </div>
                        <div class="fsorm-group">
                            <label class="form-label" for="file">Upload Resume</label>
                            <input class="form-control" id="file" name="resume" type="file">
                        </div>
                        <div class="login_footer form-group d-flex justify-content-between">
                            <label class="cb-container">
                                <input type="checkbox"><span class="text-small">Agree our terms and policy</span><span class="checkmark"></span>
                            </label><a class="text-muted" href="page-contact.html">Lean more</a>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-default hover-up w-100" type="submit" name="login">Apply Job</button>
                        </div>
                        <div class="text-muted text-center">Do you need support? <a href="page-contact.html">Contact Us</a></div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <header class="header sticky-bar">
        <div class="container">
            <div class="main-header">
                <div class="header-left">
                    <div class="header-logo"><a class="d-flex" href="index.html"><img alt="jobBox" src="~/frontend/assets/imgs/page/dashboard/logo.svg"></a></div><span class="btn btn-grey-small ml-10">Admin area</span>
                </div>
                <div class="header-search">
                    <div class="box-search">
                        <form action="">
                            <input class="form-control input-search" type="text" name="keyword" placeholder="Search">
                        </form>
                    </div>
                </div>
                <div class="header-menu d-none d-md-block">
                    <ul>
                        <li>        <a href="http://wp.alithemes.com/html/jobbox/demos/index.html">Home </a></li>
                        <li> <a href="http://wp.alithemes.com/html/jobbox/demos/page-about.html">About us </a></li>
                        <li> <a href="http://wp.alithemes.com/html/jobbox/demos/page-contact.html">Contact</a></li>
                    </ul>
                </div>
                <div class="header-right">
                    <div class="block-signin">
                        <a class="btn btn-default icon-edit hover-up" href="post-job.html">Post Job</a>
                        <div class="dropdown d-inline-block">
                            <a class="btn btn-notify" id="dropdownNotify" type="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-display="static"></a>
                            <ul class="dropdown-menu dropdown-menu-light dropdown-menu-end" aria-labelledby="dropdownNotify">
                                <li><a class="dropdown-item active" href="#">10 notifications</a></li>
                                <li><a class="dropdown-item" href="#">12 messages</a></li>
                                <li><a class="dropdown-item" href="#">20 replies</a></li>
                            </ul>
                        </div>
                        <div class="member-login">
                            <img alt="" src="~/frontend/assets/imgs/page/dashboard/profile.png">
                            <div class="info-member">
                                <strong class="color-brand-1">Steven Jobs</strong>
                                <div class="dropdown">
                                    <a class="font-xs color-text-paragraph-2 icon-down" id="dropdownProfile" type="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-display="static">Super Admin</a>
                                    <ul class="dropdown-menu dropdown-menu-light dropdown-menu-end" aria-labelledby="dropdownProfile">
                                        <li><a class="dropdown-item" href="profile.html">Profiles</a></li>
                                        <li><a class="dropdown-item" href="my-resume.html">CV Manager</a></li>
                                        <li><a class="dropdown-item" href="login.html">Logout</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="burger-icon burger-icon-white"><span class="burger-icon-top"></span><span class="burger-icon-mid"></span><span class="burger-icon-bottom"></span></div>
    <div class="mobile-header-active mobile-header-wrapper-style perfect-scrollbar">
        <div class="mobile-header-wrapper-inner">
            <div class="mobile-header-content-area">
                <div class="perfect-scroll">
                    <div class="mobile-search mobile-header-border mb-30">
                        <form action="#">
                            <input type="text" placeholder="Search…"><i class="fi-rr-search"></i>
                        </form>
                    </div>
                    <div class="mobile-menu-wrap mobile-header-border">
                        <!-- mobile menu start-->
                        <nav>
                            <ul class="main-menu">
                                <li>
                                    <a class="dashboard2 active" href="index.html"><img src="~/frontend/assets/imgs/page/dashboard/dashboard.svg" alt="jobBox"><span class="name">Dashboard</span></a>
                                </li>
                                <li>
                                    <a class="dashboard2" href="candidates.html"><img src="~/frontend/assets/imgs/page/dashboard/candidates.svg" alt="jobBox"><span class="name">Candidates</span></a>
                                </li>
                                <li>
                                    <a class="dashboard2" href="recruiters.html"><img src="~/frontend/assets/imgs/page/dashboard/recruiters.svg" alt="jobBox"><span class="name">Recruiters</span></a>
                                </li>
                                <li>
                                    <a class="dashboard2" href="my-job-grid.html"><img src="~/frontend/assets/imgs/page/dashboard/jobs.svg" alt="jobBox"><span class="name">My Jobs</span></a>
                                </li>
                                <li>
                                    <a class="dashboard2" href="my-tasks-list.html"><img src="~/frontend/assets/imgs/page/dashboard/tasks.svg" alt="jobBox"><span class="name">Tasks List</span></a>
                                </li>
                                <li>
                                    <a class="dashboard2" href="profile.html"><img src="~/frontend/assets/imgs/page/dashboard/profiles.svg" alt="jobBox"><span class="name">My Profiles</span></a>
                                </li>
                                <li>
                                    <a class="dashboard2" href="my-resume.html"><img src="~/frontend/assets/imgs/page/dashboard/cv-manage.svg" alt="jobBox"><span class="name">CV Manage</span></a>
                                </li>
                                <li>
                                    <a class="dashboard2" href="settings.html"><img src="~/frontend/assets/imgs/page/dashboard/settings.svg" alt="jobBox"><span class="name">Setting</span></a>
                                </li>
                                <li>
                                    <a class="dashboard2" href="authentication.html"><img src="~/frontend/assets/imgs/page/dashboard/authentication.svg" alt="jobBox"><span class="name">Authentication</span></a>
                                </li>
                                <li>
                                    <a class="dashboard2" href="login.html"><img src="~/frontend/assets/imgs/page/dashboard/logout.svg" alt="jobBox"><span class="name">Logout</span></a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="mobile-account">
                        <h6 class="mb-10">Your Account</h6>
                        <ul class="mobile-menu font-heading">
                            <li><a href="#">Profile</a></li>
                            <li><a href="#">Work Preferences</a></li>
                            <li><a href="#">Account Settings</a></li>
                            <li><a href="#">Go Pro</a></li>
                            <li><a href="page-signin.html">Sign Out</a></li>
                        </ul>
                        <div class="mb-15 mt-15"> <a class="btn btn-default icon-edit hover-up" href="post-job.html">Post Job</a></div>
                    </div>
                    <div class="site-copyright">Copyright 2022 &copy; JobBox. <br>Designed by AliThemes.</div>
                </div>
            </div>
        </div>
    </div>
    <main class="main">
        <div class="nav">
            <a class="btn btn-expanded"></a>
            <nav class="nav-main-menu">
                <ul class="main-menu">
                    <li>
                        <a class="dashboard2 active" href="index.html"><img src="~/frontend/assets/imgs/page/dashboard/dashboard.svg" alt="jobBox"><span class="name">Dashboard</span></a>
                    </li>
                    <li>
                        <a class="dashboard2" href="candidates.html"><img src="~/frontend/assets/imgs/page/dashboard/candidates.svg" alt="jobBox"><span class="name">Candidates</span></a>
                    </li>
                    <li>
                        <a class="dashboard2" href="recruiters.html"><img src="~/frontend/assets/imgs/page/dashboard/recruiters.svg" alt="jobBox"><span class="name">Recruiters</span></a>
                    </li>
                    <li>
                        <a class="dashboard2" href="my-job-grid.html"><img src="~/frontend/assets/imgs/page/dashboard/jobs.svg" alt="jobBox"><span class="name">My Jobs</span></a>
                    </li>
                    <li>
                        <a class="dashboard2" href="my-tasks-list.html"><img src="~/frontend/assets/imgs/page/dashboard/tasks.svg" alt="jobBox"><span class="name">Tasks List</span></a>
                    </li>
                    <li>
                        <a class="dashboard2" href="profile.html"><img src="~/frontend/assets/imgs/page/dashboard/profiles.svg" alt="jobBox"><span class="name">My Profiles</span></a>
                    </li>
                    <li>
                        <a class="dashboard2" href="my-resume.html"><img src="~/frontend/assets/imgs/page/dashboard/cv-manage.svg" alt="jobBox"><span class="name">CV Manage</span></a>
                    </li>
                    <li>
                        <a class="dashboard2" href="settings.html"><img src="~/frontend/assets/imgs/page/dashboard/settings.svg" alt="jobBox"><span class="name">Setting</span></a>
                    </li>
                    <li>
                        <a class="dashboard2" href="authentication.html"><img src="~/frontend/assets/imgs/page/dashboard/authentication.svg" alt="jobBox"><span class="name">Authentication</span></a>
                    </li>
                    <li>
                        <a class="dashboard2" href="login.html"><img src="~/frontend/assets/imgs/page/dashboard/logout.svg" alt="jobBox"><span class="name">Logout</span></a>
                    </li>
                </ul>
            </nav>
            <div class="border-bottom mb-20 mt-20"></div>
            <div class="box-profile-completed text-center mb-30">
                <div id="circle-staticstic-demo"></div>
                <h6 class="mb-10">Profile Completed</h6>
                <p class="font-xs color-text-mutted">Please add detailed information to your profile. This will help you develop your career more quickly.</p>
            </div>
            <div class="sidebar-border-bg mt-50">
                <span class="text-grey">WE ARE</span><span class="text-hiring">HIRING</span>
                <p class="font-xxs color-text-paragraph mt-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae architecto</p>
                <div class="mt-15"><a class="btn btn-paragraph-2" href="#">Know More</a></div>
            </div>
        </div>
        @RenderBody()

        <script src="~/frontend/assets/js/plugins/counterup.js"></script>
    </main>

    <footer class="footer mt-50">
        <div class="container">
            <div class="row">
                <div class="footer-col-1 col-md-3 col-sm-12">
                    <a href="index.html"><img alt="jobBox" src="~/frontend/assets/logo.jpeg"></a>
                    <div class="mt-20 mb-20 font-xs color-text-paragraph-2">JobBox is the heart of the design community and the best resource to discover and connect with designers and jobs worldwide.</div>
                    <div class="footer-social"><a class="icon-socials icon-facebook" href="#"></a><a class="icon-socials icon-twitter" href="#"></a><a class="icon-socials icon-linkedin" href="#"></a></div>
                </div>
                <div class="footer-col-2 col-md-2 col-xs-6">
                    <h6 class="mb-20">Resources</h6>
                    <ul class="menu-footer">
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Our Team</a></li>
                        <li><a href="#">Products</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
                <div class="footer-col-3 col-md-2 col-xs-6">
                    <h6 class="mb-20">Community</h6>
                    <ul class="menu-footer">
                        <li><a href="#">Feature</a></li>
                        <li><a href="#">Pricing</a></li>
                        <li><a href="#">Credit</a></li>
                        <li><a href="#">FAQ</a></li>
                    </ul>
                </div>
                <div class="footer-col-4 col-md-2 col-xs-6">
                    <h6 class="mb-20">Quick links</h6>
                    <ul class="menu-footer">
                        <li><a href="#">iOS</a></li>
                        <li><a href="#">Android</a></li>
                        <li><a href="#">Microsoft</a></li>
                        <li><a href="#">Desktop</a></li>
                    </ul>
                </div>
                <div class="footer-col-5 col-md-2 col-xs-6">
                    <h6 class="mb-20">More</h6>
                    <ul class="menu-footer">
                        <li><a href="#">Privacy</a></li>
                        <li><a href="#">Help</a></li>
                        <li><a href="#">Terms</a></li>
                        <li><a href="#">FAQ</a></li>
                    </ul>
                </div>
                <div class="footer-col-6 col-md-3 col-sm-12">
                    <h6 class="mb-20">Download App</h6>
                    <p class="color-text-paragraph-2 font-xs">Download our Apps and get extra 15% Discount on your first Order&mldr;!</p>
                    <div class="mt-15"><a class="mr-5" href="#"><img src="~/frontend/assets/imgs/template/icons/app-store.png" alt="joxBox"></a><a href="#"><img src="~/frontend/assets/imgs/template/icons/android.png" alt="joxBox"></a></div>
                </div>
            </div>
            <div class="footer-bottom mt-50">
                <div class="row">
                    <div class="col-md-6"><span class="font-xs color-text-paragraph">Copyright &copy; 2023. Marine Hive all right reserved</span></div>
                    <div class="col-md-6 text-md-end text-start">
                        <div class="footer-social"><a class="font-xs color-text-paragraph" href="#">Privacy Policy</a><a class="font-xs color-text-paragraph mr-30 ml-30" href="#">Terms &amp; Conditions</a><a class="font-xs color-text-paragraph" href="#">Security</a></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/frontend/assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="~/frontend/assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="~/frontend/assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="~/frontend/assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="~/frontend/assets/js/plugins/waypoints.js"></script>
    <script src="~/frontend/assets/js/plugins/wow.js"></script>
    <script src="~/frontend/assets/js/plugins/magnific-popup.js"></script>
    <script src="~/frontend/assets/js/plugins/perfect-scrollbar.min.js"></script>
    <script src="~/frontend/assets/js/plugins/select2.min.js"></script>
    <script src="~/frontend/assets/js/plugins/isotope.js"></script>
    <script src="~/frontend/assets/js/plugins/scrollup.js"></script>
    <script src="~/frontend/assets/js/plugins/swiper-bundle.min.js"></script>
    <script src="~/frontend/assets/js/plugins/counterup.js"></script>
    <script src="~/frontend/assets/js/main.js?v=4.1"></script>




    <script src="~/frontend/assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="~/frontend/assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="~/frontend/assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="~/frontend/assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="~/frontend/assets/js/plugins/waypoints.js"></script>
    <script src="~/frontend/assets/js/plugins/magnific-popup.js"></script>
    <script src="~/frontend/assets/js/plugins/perfect-scrollbar.min.js"></script>
    <script src="~/frontend/assets/js/plugins/select2.min.js"></script>
    <script src="~/frontend/assets/js/plugins/swiper-bundle.min.js"></script>
    <script src="~/frontend/assets/js/plugins/jquery.circliful.js"></script>
    <script src="~/frontend/assets/js/plugins/charts/index.js"></script>
    <script src="~/frontend/assets/js/plugins/charts/xy.js"></script>
    <script src="~/frontend/assets/js/plugins/charts/Animated.js"></script>
    <script src="~/frontend/assets/js/plugins/armcharts5-script.js"></script>
    <script src="~/frontend/assets/js/main.js?v=4.1"></script>
</body>
</html>